<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View list of all activities</title>
</head>
<body>
	<form>
			<table>
				<tr th:each="currentActivity : ${activities}" >
					<td th:text="${currentActivity.name}" />
					<td th:text="${currentActivity.type}" />
					<td th:text="${currentActivity.cost}" />
					<td><a th:href="@{/edit/{activityId}(activityId=${currentActivity.activityId})}">Edit</a></td>
					<td><a th:href="@{/delete/{activityId}(activityId=${currentActivity.activityId})}">Delete</a></td>
				</tr>
			</table>
		</form>
		<a href="../inputActivity">Add a new Activity</a>
</body>
</html>