<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Combine items into a vacation</title>
</head>
<body>
<h1>Select items to create a new vacation</h1>
	<form name = "newVacation" 
		  th:object="${newVacation}" th:action="@{/inputContact}" method='POST'>
	
		Customers:  <br />
		<select required id="vacations.customerId" name="vacations.customerId">
			<option value=>Select a Customer</option>
			<option th:each="customer : ${customers}" 
					th:value="${customer.customerID}" 
					th:text="${customer.name}">
			   		<!-- th:selected="${customer.customerId}==*{vacations.customerId}"> -->
			</option>
		</select> <br /> 
		
		 
		 
		<!-- Customer Name: <input name="customer.name" size="40" th:field="*{customer.name}" > <br />-->
		
		Resorts:  <br />
		<select required id="vacations.resortId" name="vacations.resortId">
			<option value=>Select a Resort</option>
			<option th:each="resort : ${resorts}" 
					th:value="${resort.name}" 
					th:text="${resort.name}">
			   <!-- th:selected="${resort.resortId}==*{vacations.resortId}">-->
			</option>
		</select> <br /> 
		
		Activities:  <br />
		<select multiple id="vacations.activityId" name="vacations.activityId">
			<option th:each="activity : ${activities}" 
					th:value="${activity.name}" 
					th:text="${activity.name}">
			   <!-- th:selected="${activity.activityId}==*{vacations.activityId}">-->
			</option>
		</select> <br /> 
		
		<input name="submit" type="submit" value="submit" />
	</form>
		<!--th:object="${newVacation}" th:action="@{/updateVacation/{vacationId}(vacationId=${newVacation.vacationId})}" method='POST'>
		 Vacation ID: <input name="name" size="40" th:field="*{name}" > <br />
		Type: <input name="type" size="10" th:field="*{type}"><br />
		Cost: $<input type="number" step="0.01" name="cost" size="6" th:field="*{cost}"><br /> 
		
		
		<select id="percentage" name="percentage">
			<option th:each="i : ${#numbers.sequence(0,100)}" th:value="${i}" th:text="${i}">
			th:selected="${i==75}</option>
		</select>
		
	</form> -->
	<a href="/viewAllVacations">View all Vacations</a> <br />
	<a href="/">Return to home Page</a>
</body>
</html>

<!-- action = "/cgi-bin/test.cgi" onsubmit = "return(validate());"  -->